= form_tag(root_path, :method => "get", class: "navbar-form navbar-left", id: "search-form", :style=>"padding-top:0px; padding-bottom:0px; border-top:0px; border-bottom:0px") do
	.input-group
		
		%input.form-control{:type => "text", :id =>"search", :name=>"search", :placeholder=>"Who are you looking for?", :size=>"30%"}
			.input-group-btn