.row
	.col.s3
		%br
		= "This if for some other menus or peopl you are following"
	.col.s6
		%br
		= render partial: 'suggested_dates'
		
	.col.s3
		%br
		= render partial: 'search'
		= "This is the search bar area"


-#= react_component 'PeopleSection', {}, :div