- if user_signed_in?
	-if current_user.blind_date == "yes"
		- @showFollowing = true
		- @followValue = "Disable blinddating"
		- @toggleoff = false
		
	-elsif current_user.blind_date == "no"
		- @showFollowing = false
		- @followValue = "Enable blinddating"
		- @toggleoff = false
	-else

		- @toggleofff = true

		
	- if @toggleoff == false
		.col.s4
			= react_component 'BlindDate', {followValue: @followValue, showFollowing: @showFollowing, userId: current_user.id}
	-else
		.col.s4
			%button.btn.btn-danger.btn-xs.disabled{:type => "button"}
				%i.fa.fa-check
				%span{:style => "padding-left:2px;"} Disable blinddating