= simple_form_for current_user, html: { multipart: true} do |f|
	.form-group
		-#= f.label :gender_preference, "Interested in"
		= f.input :gender_preference,label: "Interested in", collection: ["Men", "Women", "Everyone"] , input_html: {class: 'form-control', :style=>"width:20%", name: 'gender_preference'}
		-#= f.input :gender_preference, input_html: { class: 'form-control', name: 'location'}, placeholder: "Address of Item"
	= f.button :submit, 'Update', class: "btn btn-primary" 